@*Ako view nešto prima onda moramo navesti to što prima kao model*@
@model string

@{
    ViewData["Title"] = "Index4";
}

<h1>Index4</h1>

@*Pristupamo vrijednosti koja je proslijeđena za model (tu ide veliko M) *@
<h1>@Model iz Index4 View-a</h1>
