<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Uspješna registracija</h2>
        <p>Uspješno ste se registrirali te se sada može ulogirati s Vašim korisničkim podacima</p>
        <hr />
        <p>Hvala!</p>
    </div>
</div>