@{
    ViewData["Title"] = "Home";
}

<h1>Dodrodošli u trgovinu slatkišima</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Product" asp-action="List" class="list-group-item">Pregledajte naše proizvode</a>
            <a asp-controller="Home" asp-action="About" class="list-group-item">O nama</a>
        </div>

    </div>
</div>
